mixin head(dept='dev', dept_code='undefined')
    html
        head
            meta(charset="UTF-8")
            title #{dept} タイピングコンテスト 結果発表
            link(rel="stylesheet" href=`/stylesheets/style-score.css`)
            script(src="/javascripts/keyEvent.js")
            meta(name="viewport" content="width=device-width, initial-scale=1")
        - if (dept_code == 'TOTAL')
            body.total
        - else if (dept_code == 'JA')
            body.rank.ja
        - else if (dept_code == 'EN')
            body.rank.en
