@-moz-keyframes fade-in {
  0% {
    right: -20%;
    opacity: 0;
  }
  100% {
    right: 0;
    opacity: 1;
  }
}
@-webkit-keyframes fade-in {
  0% {
    right: -20%;
    opacity: 0;
  }
  100% {
    right: 0;
    opacity: 1;
  }
}
@-o-keyframes fade-in {
  0% {
    right: -20%;
    opacity: 0;
  }
  100% {
    right: 0;
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    right: -20%;
    opacity: 0;
  }
  100% {
    right: 0;
    opacity: 1;
  }
}
@-moz-keyframes show {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes show {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes show {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes show {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
* {
  padding: 0;
  margin: 0;
}
#rank1:target .s_p-rank {
  animation: fade-in 2s ease-in-out;
}
#rank1:target .s_p-desc {
  opacity: 0;
  animation: fade-in 2s ease-in-out 2s forwards;
}
#rank2:target .s_p-rank {
  animation: fade-in 2s ease-in-out;
}
#rank2:target .s_p-desc {
  opacity: 0;
  animation: fade-in 2s ease-in-out 2s forwards;
}
#rank3:target .s_p-rank {
  animation: fade-in 2s ease-in-out;
}
#rank3:target .s_p-desc {
  opacity: 0;
  animation: fade-in 2s ease-in-out 2s forwards;
}
#rank4:target .s_p-rank {
  animation: fade-in 2s ease-in-out;
}
#rank4:target .s_p-desc {
  opacity: 0;
  animation: fade-in 2s ease-in-out 2s forwards;
}
#rank5:target .s_p-rank {
  animation: fade-in 2s ease-in-out;
}
#rank5:target .s_p-desc {
  opacity: 0;
  animation: fade-in 2s ease-in-out 2s forwards;
}
html {
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
html body {
  display: flex;
  height: 100%;
  color: #fff;
  text-shadow: 2px 2px 5px rgba(18,3,7,0.41), 0px 0px 3px #000;
}
html body .c_back {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
html body.ja {
  background: #4776e6;
  background: -webkit-linear-gradient(to bottom, #8e54e9, #4776e6);
  background: linear-gradient(to bottom, #8e54e9, #4776e6);
}
html body.en {
  background: #43cea2;
  background: -webkit-linear-gradient(to bottom, #185a9d, #43cea2);
  background: linear-gradient(to bottom, #185a9d, #43cea2);
}
html body.rank {
  width: 600vw;
}
html body.total {
  width: 200vw;
  background: #f09819;
  background: -webkit-linear-gradient(to bottom, #edde5d, #f09819);
  background: linear-gradient(to bottom, #edde5d, #f09819);
}
html body .screen {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  width: 100vw;
  height: 100%;
}
html body .screen .s_p-dept {
  position: relative;
  top: -5vh;
  font-size: 5vw;
}
html body .screen .s_p-rank {
  position: relative;
  top: 1vh;
  font-size: 8vw;
}
html body .screen .s_p-desc {
  position: relative;
  top: 5vh;
  font-size: 6vw;
  text-align: center;
}
html body .screen .s_a-pn {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  left: 10vh;
  right: 10vh;
  margin-bottom: 15vh;
  width: auto;
}
html body .screen .s_a-pn .s_a-next,
html body .screen .s_a-pn .s_a-prev {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0,0,0,0.1);
  width: 15vh;
  height: 15vh;
  border-radius: 100%;
  text-decoration: none;
  font-size: 10vh;
  transition: all 0.2s ease;
}
html body .screen .s_a-pn .s_a-next:hover,
html body .screen .s_a-pn .s_a-prev:hover {
  background: rgba(0,0,0,0.3);
}
html body .screen .s_a-pn .s_a-next .lt,
html body .screen .s_a-pn .s_a-prev .lt,
html body .screen .s_a-pn .s_a-next .gt,
html body .screen .s_a-pn .s_a-prev .gt {
  content: "";
  display: block;
  width: 5vh;
  height: 5vh;
  color: #fff;
  border-top: solid 2px;
  border-left: solid 2px;
}
html body .screen .s_a-pn .s_a-next .lt,
html body .screen .s_a-pn .s_a-prev .lt {
  transform: rotate(-45deg) translate(15%, 15%);
}
html body .screen .s_a-pn .s_a-next .gt,
html body .screen .s_a-pn .s_a-prev .gt {
  transform: rotate(135deg) translate(15%, 15%);
}
