include _include/_head.pug
include _include/_rankGenerate.pug

+head(dept)
-
    rank = new Array();
    json_data.forEach(function(val, key) {
        var r = json_data[key].rank;
        if(1 <= r && r <= 5 && json_data[key].dept == dept_code) {
            rank[r-1] = json_data[key];
        }
    });

+rankGenerate(dept)
