include _include/_head.pug
include _include/_rankGenerate.pug

- var dept = '日本語部門'

+head(dept)
-
    rank = new Array();
    json_data.forEach(function(val, key) {
        var r = json_data[key].rank;
        if(1 <= r && r <= 5 && json_data[key].dept == 'JA') {
            rank[r-1] = json_data[key];
        }
    });

- var i = 5;
while i > 0
    +rankGenerate(i, dept)
    - i--
